@model TechTrialDAL.Model.EmployeeProductivityReportData

@{
    ViewBag.Title = "ProjectCompletionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProjectName. Completion Report (@Html.ActionLink("pdf", "EmployeeProductivityReportPDF"))</h2>

@{
    int completedPercent = Model.TotalDuration == 0 ? 0 : (int)(100 * (double)Model.CompletedDuration / (double)Model.TotalDuration);
}
<h3>Overall progress</h3>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="@completedPercent" aria-valuemin="0" aria-valuemax="100" style="min-width: 10em; width: @completedPercent%;">
        @completedPercent% (@Model.CompletedDuration of @Model.TotalDuration)
    </div>
</div>

<br />

@foreach (var user in Model.UserTaskData.Keys)
{

    <h3>Tasks for @user:</h3>

    var styles = new string[] { "progress-bar-success", "progress-bar-info", "progress-bar-warning", "progress-bar-danger" };
    int x = 0;

    <div class="col-md-11 col-md-offset-1">

        @foreach (var item in Model.UserTaskData[user])
        {

        int taskCompletedPercent = item.TotalDuration == 0 ? 0 : (int)(100 * (double)item.CompletedDuration / (double)item.TotalDuration);
        x++;

        <h4>@item.TaskName</h4>

        <div class="progress">
            <div class="progress-bar @styles[x % 4]" role="progressbar" aria-valuenow="@taskCompletedPercent" aria-valuemin="0" aria-valuemax="100" style="min-width: 10em; width: @taskCompletedPercent%;">
                @taskCompletedPercent% (@item.CompletedDuration of @item.TotalDuration)
            </div>
        </div>

        }
    </div>    
}
